alias o='xdg-open'
alias dotfiles='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
alias filesize='numfmt --to iec'
alias reload='. ~/.zshrc && echo "reloaded ~/.zshrc!"'
alias k='kubectl'
alias fd='fdfind'
alias lan='ip -f inet addr show dev $(ip -j route show default | jq -r ".[0].dev") | grep -oE "[0-9.]+/[0-9]+" | cat'
alias lastcharge='tac /var/lib/upower/history-charge* | grep -E "\s(charging|fully-charged)" | head -n1 | cut -f1 | xargs -I{} date -Isecond -d @{}'
alias sincelastcharge='lastcharge | pyp "datetime.datetime.now(pytz.utc) - datetime.datetime.fromisoformat(x)"'
alias vim=nvim
