# function names starts with comma
# that way we prevent overwhelming the global namespace
# plus, it makes it easier to find them: just type "," + <tab> key
# @brandon-rhodes style

,words () { 
    http api.datamuse.com/words "$1" max=="${2:-5}" | jq ".[] | .word" 
}

,genpass () {
    gpg -a --gen-random 0 "${1:-12}"
}

,pwnedpass () {
    digest=$(echo -n $1 | sha1sum | head -c40)
    curl -sL api.pwnedpasswords.com/range/${digest:0:5} | grep -i ${digest:5} | cut -d":" -f2
}

,traceroute-mapper() {
    xdg-open "https://stefansundin.github.io/traceroute-mapper/?trace=$(traceroute -q1 $* | sed ':a;N;$!ba;s/\n/%0A/g')"
}

,manex() {
    man --pager="less -p ^EXAMPLE" $1
}
